* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main-container section {
    padding: 3rem;
}

.section1 article{
    display: inline;
}

.section2 section {
    display: block;
}

.section3 article {
    display: inline-block;
}

